# garble

Randomize your data

## CLI

Here's `input.json`

```json
{% include 'input.json' %}
```

Run

```
$ garble --input input.json --output output.json
```

You get something like

```json
{% include 'output.json' %}
```

## Usage

```python
{% include 'example.py' %}
```

Output:

```
{% include 'example.py.out' %}
```
