# garble

Randomize your data

## Install

```
python setup.py install
```

## CLI Usage

Here's `input.json`

```json
{% include 'input.json' %}
```

Run

```
$ garble < input.json | python -m json.tool
```

You get something like

```json
{% include 'output.json' %}
```

## Library Usage

```python
{% include 'example.py' %}
```

Output:

```
{% include 'example.py.out' %}
```
